node_modules/
public/js
public/hot
public/storage
public/js/core
public/js/*.js
storage/*.key
vendor/
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
dawartyA456#
dawarty8956@gmail.com
.vscode/settings.json
public/admin
node_modules
